{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
 <h1>Home page.......{{name}}</h1>


<form action="add" method="post">
    {% csrf_token %}
    Enter 1t number :<input type="text" name="num1">
     Enter 2nd number :<input type="text" name="num2">
     <input type="submit">
</form>

{% endblock %}
</body>
</html>