{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Den</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- Responsive-->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- fevicon -->
<link rel="icon" href="{% static 'images/fevicon.png" type="image/gif' %}" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">

</head>
<body>
	<header>
		<div class="layout_padding banner_section_start">
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"><a href="#home"><img src="{% static 'images/logo.png' %}" style="max-width: 100%;"></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li class="active"><a href="#home">Home</a></li>
                                 <li><a href="#about">About</a></li>
                                 <li><a href="#products">products</a></li>
                                 <li><a href="#gallery">gallery</a></li>
                                 <li><a href="#contact">Contact Us</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                 </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->		
	<!-- banner start-->
	<div class="layout_padding banner_section">
		<div class="container">
           <div id="main_slider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row ">
				<div class="col-md-6 taital">
					<h1 class="taital">Quality<strong class="banner_taital">Products with breads sweet Den</strong></h1>
                     <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
				</div>
				<div class="col-md-6">
					<div class="banner-image"><img src="{% static 'images/banner-image.png' %}" style="max-width: 100%;"></div>
				</div>
				<div class="banner_bt">
				<button class="bt_main"><a href="#">Read More</a></button>
				</div>
			</div>
    </div>
    <div class="carousel-item">
      <div class="row ">
				<div class="col-md-6 taital">
					<h1>Quality<strong class="banner_taital">Products with breads sweet Den</strong></h1>
                     <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
				</div>
				<div class="col-md-6">
					<div class="banner-image"><img src="{% static 'images/banner-image.png' %}" style="max-width: 100%;"></div>
				</div>
				<div class="banner_bt">
				<button class="bt_main"><a href="#">Read More</a></button>
				</div>
			</div>
    </div>
    <div class="carousel-item">
     <div class="row ">
				<div class="col-md-6 taital">
					<h1>Quality<strong class="banner_taital">Products with breads sweet Den</strong></h1>
                     <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
				</div>
				<div class="col-md-6">
					<div class="banner-image"><img src="{% static 'images/banner-image.png'%}" style="max-width: 100%;"></div>
				</div>
				<div class="banner_bt">
				<button class="bt_main"><a href="#">Read More</a></button>
				</div>
			</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
    <span class="sr-only">Next</span>
  </a>
</div>
			
		</div>
	</div>
    </div>
	</header>
	<!-- banner end-->
	<!-- about start-->
	<div id="about" class="layout_padding about_section">
		<div class="container">
			<div class="row">
		        <div class="col-md-6">
		        	<div><img src="images/cupcake-img.png" style="max-width: 100%;"></div>
		        </div>
		        <div class="col-md-6">
		        	<h1 class="about_text"><strong>About Den <span class="color">Shop</span></strong></h1>
		        	<p class="about_taital">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ve niam, quis nostrud exercitationconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		        	<button class="read_more"><a href="#">Read More</a></button>
		        </div>
			</div>
		</div>
	</div>
	<!-- product start-->
	<div id="products" class="layout_padding product_section ">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="product_text"><strong><span class="den">Den</span>Products</strong></h1>
				</div>
			</div>
		    <div class="product_section_2 images">
			    <div class="row">
					{% for item in f%}
			    	<div class="col-sm-4">
			    		<div class="images"><img src="{% static 'images/about-img1.png' %}" style="max-width: 100%; width: 100%;"></div>
			    		<h2 class="den_text croissants"><a href="#">{{item.name}}</a></h2>
			    	</div>
					{% endfor%}
			    	<div class="col-sm-4">
			    		<div class="images"><img src="{% static 'images/about-img2.png' %}" style="max-width: 100%; width: 100%;"></div>
			    		<h2 class="den_text"><a href="#">{{f1.price}}</a></h2>
			    	</div>
			    	<div class="col-sm-4">
			    		<div class="images"><img src="images/about-img3.png" style="max-width: 100%; width: 100%;"></div>
			    		<h2 class="den_text"><a href="#">BreadFrench Toast</a></h2>
			    	</div>
			    
		    
		   
			    	<div class="col-sm-4">
			    		<div class="images"><img src="images/about-img4.png" style="max-width: 100%; width: 100%;"></div>
			    		<h2 class="den_text"><a href="#">Cup Cake</a></h2>
			    	</div>
			    	<div class="col-sm-4">
			    		<div class="images"><img src="images/about-img5.png" style="max-width: 100%; width: 100%;"></div>
			    		<h2 class="den_text"><a href="#">Donut</a></h2>
			    	</div>
			    	<div class="col-sm-4">
			    		<div class="images"><img src="images/about-img6.png" style="max-width: 100%; width: 100%;"></div>
			    		<h2 class="den_text"><a href="#">Chocolate Cup Cake</a></h2>
			    	</div>
			    </div>
		    </div>
		</div>
	</div>
	<!-- product end-->
	<!-- Gallery start-->
	<div id="gallery" class="layout_padding2 gallery_section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="gallery_main">
					    <h1 class="gallery_taital"><strong><span class="our_text">Our</span> Gallery</strong></h1>
					</div>
				</div>
				<div class="col-sm-12 gallery_maain">
					<div class="row">
						<div class="col-sm-3 padding_0">
							<div class="gallery_blog">
								<img class="img-responive" src="images/gallery-img1.png">
								<div class="overlay">
									<h2>Breakfast Breads</h2>
								</div>
							</div>
						</div>
                        <div class="col-sm-3 padding_0">
							<div class="gallery_blog">
								<img class="img-responive" src="images/gallery-img2.png">
								<div class="overlay">
									<h2>Breakfast Breads</h2>
								</div>
							</div>
                        </div>
                        <div class="col-sm-3 padding_0">
							<div class="gallery_blog">
								<img class="img-responive" src="images/gallery-img3.png">
								<div class="overlay">
									<h2>Breakfast Breads</h2>
								</div>
							</div>
                        </div>
                        <div class="col-sm-3 padding_0">
							<div class="gallery_blog">
								<img class="img-responive" src="images/gallery-img4.png">
								<div class="overlay">
									<h2>Breakfast Breads</h2>
								</div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Gallery-->
	<!-- Touch start-->
	<div class="layout_padding gallery_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="gallery_main">
					    <h1 class="gallery_taital"><strong><span class="our_text">Get in</span>Touch</strong></h1>
					</div>
				</div>
			</div>
			<div class="touch_main">
				<div class="row">
					<div class="col-md-6">
                    <div class="input_main">
                       <div class="container">
                          <form action="/action_page.php">
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="YOUR NAME" name="Name">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="EMAIL" name="Email">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="PHONE NUMBER" name="Email">
                            </div>
                            <div class="form-group">
                               <textarea class="massage-bt" placeholder="MASSAGE" rows="5" id="comment" name="text"></textarea>
                            </div>
                          </form> 
                       </div> 
                    </div>
                        <div class="send_btn">
                           <button type="button" class="main_bt"><a href="#">SEND</a></button>                  
                        </div>
			    </div>
					<div class="col-md-6">
						<div class="images">
							<img src="images/bread-img.png" style="max-width: 100%;">
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>	
	<div class="map_section">
		<div class="row">
			<div class="col-sm-12">
	
                     <div id="map">
                     </div>
                   </div>

		</div>
	</div>
	<!-- Touch end-->
	<!-- contact start-->
    <div id="contact" class="contact_section">
    	<div class="container">	
    	<div class="contact-taital">
    		<div class="row">
    			<div class="col-sm-12">
    				<h1 class="contact_text"><strong>Contact Us</strong></h1>
    			</div>
    		</div>
    	</div>
    		<div class="row">	
    			<div class="col-sm-6 col-md-6 col-lg-3">
    				<h2 class="adderess_text">Adderess</h2>
    				<div class="image-icon"><img src="images/map-icon.png"><span class="email_text">Gb road 123 london Uk </span></div>
    				<div class="image-icon"><img src="images/phone-icon.png"><span class="email_text">(+71) 56982424536</span></div>
    				<div class="image-icon"><img src="images/email-icon.png"><span class="email_text">bacerim@gmail.com</span></div>
    			</div>
    			<div class="col-sm-6 col-md-6 col-lg-3">
    				<h2 class="adderess_text">Useful Links</h2>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">Bacerim Dictionary</span></div>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">Help Links</span></div>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">bacerim Attitudes</span></div>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">Call a Cutumer</span></div>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">Help a Bacerim</span></div>
    			</div>
    			<div class="col-sm-6 col-md-6 col-lg-3">
    				<h2 class="adderess_text">Overview</h2>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">Bacerim Dictionary</span></div>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">Help Links</span></div>
    				<div class="image-icon"><img src="images/bulit-icon.png"><span class="email_text">bacerim Attitudes</span></div>
    				<div class="social_icon">
    					<ul>
    						<li><a href="#"><img src="images/fb-icon.png"></a></li>
    						<li><a href="#"><img src="images/twitter-icon.png"></a></li>
    						<li><a href="#"><img src="images/google-icon.png"></a></li>
    						<li><a href="#"><img src="images/linkedin-icon.png"></a></li>
    					</ul>
    				</div>
    			</div>
    			<div class="col-sm-6 col-md-6 col-lg-3">
    				<h2 class="adderess_text">Instagram</h2>
    				<div class="row">
    					<div class="col-md-6">
    						<div class="footer-img"><img src="images/footer-img1.png" style="width: 100%;"></div>
    					</div>
    					<div class="col-md-6">
    						<div class="footer-img"><img src="images/footer-img2.png" style="width: 100%;"></div>
    					</div>
    				</div>
    				<div class="row">
    					<div class="col-md-6">
    						<div class="footer-img"><img src="images/footer-img2.png" style="width: 100%;"></div>
    					</div>
    					<div class="col-md-6">
    						<div class="footer-img"><img src="images/footer-img3.png" style="width: 100%;"></div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
	<!-- contact end-->
	<!-- copyright start-->
    <div class="copyright_section">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12">
    				<p class="copyright_taital">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</p>
    			</div>
    		</div>
    	</div>
    </div>


	<!-- copyright end-->

    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 

         <script>
      // This example adds a marker to indicate the position of Bondi Beach in Sydney,
      // Australia.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 40.645037, lng: -73.880224},
          });

        var image = 'images/location_point.png';
          var beachMarker = new google.maps.Marker({
             position: {lat: 40.645037, lng: -73.880224},
             map: map,
             icon: image
          });
        }
        </script>
        <!-- google map js -->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
        <!-- end google map js -->




</body>
</html>