<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academic Year</title>
</head>
<body>

{% for ays in ay %}

{{ays.year_id}}, {{ays.acd_year}}<br>

{% endfor %}


</body>
</html>
