<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

{% for c in cs %}

{{c.id}}, {{c.course}}, {{c.category}}, {{c.no_of_semesters}}<br>

{% endfor %}


</body>
</html>
